*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store
lib/pircbot-1.5.0/javadocs/
src/me/reddev/OsuCelebrity/Constants/Constants.java
src/me/reddev/OsuCelebrity/Constants/Settings.java
lib/
/target/
