*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Eclipse
*/.classpath
*/.project
*/.settings/
**/.checkstyle

# Intellij
*/.idea/
*.iml
*.iws

# Mac
.DS_Store
*/target/
osuCelebrity/src/main/resources/osuCelebrity.properties
